<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>响应式，媒体查询</title>
    <style>
        <!--    媒体查询    -->
        @media screen {
            h1{
                
            }
        }
        @media print {
            h1{}
        }
        @media all {
            h1{}
        }
        <!--    响应式    -->
        /*宽度800时*/
        @media (width: 800px) {

        }
        /*宽度小于等于800时*/
        @media (min-width: 800px) {

        }
        /*  宽度大于等于800时  */
        @media (max-width: 800px) {
            
        }
        /*设备宽度*/
        @media (device-width: 1920px) {

        }
        /*运算符且*/
        @media screen and (max-width: 500px) and (min-width: 800px){

        }
    </style>
</head>
<body>
    
</body>
</html>